
#root {
  /*max-width: 1440px;*/
  height: 700px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.image-editor-container {
  background: #f0f2f5;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.history-actions {
  position: absolute;
  right: 15px;
  top: 15px;
}
.canvas-container {
  display: flex;
  width: calc(100% - 400px);
  position: relative;
}

#myCanvas {
  cursor: none;
  margin: 0 auto;
}

#cursor-image {
  display: block;
  pointer-events: none;
  position: absolute;
  z-index: 9999999;
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.list-container {
  background: #fff;
  padding: 10px 15px;
}
@media (min-width:320px)  {
  .image-editor-container {
    flex-direction: column;
  }

  .canvas-container {
    width: 100%;
    height: calc(100% - 300px);
  }

  .list-container {
    background: transparent;
    width: 100%;
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
